name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: extractions/setup-just@v3
    - name: Format check
      run: just fmt-check
    - name: Lint check
      run: just lint
    - name: Build
      run: just build
    - name: Run tests
      run: just test
    - name: Run all binaries
      run: just run-all